.dogs {
    padding: 20px;
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: chocolate;
    padding: 20px;
}

